<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test-bootstrap.php"
         colors="true"
         stopOnFailure="true">
  <testsuites>
    <testsuite name="active-record">
      <directory>vendor/thru.io/active_record/tests</directory>
    </testsuite>
    <testsuite name="tigerkit">
      <directory>vendor/thru.io/tiger-kit/tests</directory>
    </testsuite>
    <testsuite name="services">
      <directory>tests/Services</directory>
    </testsuite>
    <testsuite name="web">
      <file>tests/Web/UserTest.php</file>
      <file>tests/Web/IndexTest.php</file>
      <file>tests/Web/GalleryTest.php</file>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>

  <filter>
    <blacklist>
      <directory>vendor</directory>
      <directory>tests</directory>
      <directory>vendor/thru.io/tiger-kit/tests</directory>
      <directory>vendor/thru.io/active_record/tests</directory>
      <exclude>
        <directory>vendor/thru.io/tiger-kit</directory>
        <directory>vendor/thru.io/active_record</directory>
      </exclude>
    </blacklist>
  </filter>

  <listeners>
    <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" >
      <arguments>
        <array>
          <element key="slowThreshold">
            <integer>500</integer>
          </element>
          <element key="reportLength">
            <integer>5</integer>
          </element>
        </array>
      </arguments>
    </listener>
  </listeners>
</phpunit>